ul{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
    border-bottom: .4px solid rgb(167, 167, 167);
}

ul li a{
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: none;
}